@font-face {
  font-family: "eps-list";
  src: url('"../../fonts/TTTravels-DemiBold.ttf') format("truetype");
}
main {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
}

.profile-card {
  padding: 50px;
}

.profile-card > img {
  border-radius: 8px;
}
h3 {
  margin: 20px 0px 10px 0;
  font-weight: 400;
}
h6 {
  font-family: poppins, sans-serif;
  font-weight: 550;
  font-size: 34px;
  margin: 0px;
}

@media (max-width: 700px) {
  main {
    flex-direction: column;
    gap: 40px;
  }
}
