@font-face {
  font-family: "main-title";
  src: url("../../fonts/TTTravels-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "title-diff";
  src: url("../../fonts/TTTravels-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "location-id";
  src: url("../../fonts/TTTravels-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Cast-title";
  src: url("../../fonts/TTTravels-DemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "section-title";
  src: url("../../fonts/TTTravels-Light.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e202d;
  color: #e0e0e0;
  overflow-x: hidden;
}
.cast-title {
  font-family: Cast-title;
  margin: 0;
}

.home-container {
  padding: 20px;
  margin: 0 auto;
  position: relative;

  background-color: #1e202d;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.hero-section {
  text-align: center;
  padding: 40px 20px 60px;
  position: relative;
  overflow: hidden;
}

.rick-and-morty-top-title > img {
  width: 227px;
  margin-bottom: 100px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.hero-title-area {
  position: relative;
  margin-bottom: 10px;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: start;
  font-size: 130px;
  font-family: main-title;
}

.title-diff {
  font-family: title-diff;
  color: #fff;
  z-index: 1;
  position: relative;
  padding: 10px 20px;
}

.title-diff:first-child::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 130%;
  background: linear-gradient(
    145deg,
    rgba(120, 255, 200, 0.3),
    rgba(60, 180, 255, 0.2)
  );
  border-radius: 50% 60% 40% 70% / 60% 50% 70% 40%;
  opacity: 0.5;
  filter: blur(15px);
  z-index: -1;
}

.rick-head-logo {
  width: 225px;
  height: 145px;
  margin: 0 10px;
  filter: drop-shadow(0 0 15px #97f528);
  position: relative;
}

.title-rick-morty {
  background: linear-gradient(90deg, #97f528, #40c9ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.title-wiki {
  font-size: 7rem;
  color: #fff;
  font-weight: 900;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.hero-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.watch-now-button {
  font-family: "Cast-title", sans-serif;
  background: linear-gradient(90deg, #9dfe00, #14d9e5);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.watch-now-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(151, 245, 40, 0.6);
}

.hero-description {
  font-family: "Cast-title", sans-serif;
  font-size: 14px;
  color: #14d9e5;
  max-width: 360px;
  line-height: 1.3;
  text-align: left;
}

.portal-gun-image {
  position: absolute;
  right: 5%;
  top: 60%;
  transform: translateY(-40%);
  width: 400px;
  height: auto;
  z-index: 0;
  filter: drop-shadow(0 0 20px #6effbf);
}
.glow {
  z-index: 1;
  padding: 10px 20px;
}
.glow::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 130%;
  background: linear-gradient(
    145deg,
    rgba(120, 255, 200, 0.3),
    rgba(60, 180, 255, 0.2)
  );
  border-radius: 50% 60% 40% 70% / 60% 50% 70% 40%;
  opacity: 0.5;
  filter: blur(15px);
  z-index: -1;
}

.content-section {
  max-width: 1770px;
  margin: 50px auto;
  padding: 0 10px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h2 {
  font-family: "section-title", sans-serif;
  font-size: 24px;
  color: #fff;
  margin: 0;
  margin-left: 15px;
}

.view-all-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #a0a0a0;
  border: 1px solid #9dfe00;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 116px;
  height: 42px;
  margin-right: 15px;
  transition: background-color 0.2s, color 0.2s;
}

.view-all-button:hover {
  background-color: #555;
  color: #fff;
}

.scrollable-list-container {
  position: relative;
  display: flex;
  align-items: center;
}

.scrollable-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollable-list::-webkit-scrollbar {
  display: none;
}

.scroll-arrow {
  background-color: #ffffff;
  border-radius: 100%;
  border: none;
  min-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.2s;
  margin: 0px -20px;
}

.scroll-arrow.arrow-rotated {
  transform: rotate(180deg);
}

.scroll-arrow.arrow-vertical-margin {
  margin-bottom: 15px;
}
.cast-card-item {
  flex-shrink: 0;
  width: 290px;
  background-image: url("../images/cast-card.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 10px;
  backdrop-filter: blur(3.5px);
  box-sizing: border-box;
}

.cast-card-image {
  width: 258px;
  height: 216px;
  margin-left: 6px;
  margin-top: 4px;
  border-radius: 8px;
}

.small-card-item {
  flex-shrink: 0;
  min-width: 390px;
  min-height: 96px;
  background-image: url("../images/small-card.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.card-container {
  max-width: 300px;
  padding: 18px 0 0 24px;
}

.cast-card-p {
  margin-left: 8px;
  font-family: poppins, sans-serif;
  font-size: 16px;
  color: #ffffff;
  display: block;
  text-align: start;
  font-weight: 500;
}

.small-card-title {
  font-family: location-id;
  display: inline-block;
  margin-bottom: 2px;

  font-size: 16px;
}
.small-card-name {
  font-family: location-id;
  font-size: 24px;
}

.star {
  position: absolute;
}

.star1 {
  top: 85%;
  right: 2%;
  width: 10px;
  height: 10px;
}
.star2 {
  top: 85%;
  left: 2%;
  width: 10px;
  height: 10px;
}
.star3 {
  top: 69%;
  left: 50%;
}
.bubble {
  top: 5.9%;
  left: 14%;
  z-index: 1;
}
.bar {
  top: 14%;
  right: 21%;
  z-index: 1;
}

.top-glow {
  position: absolute;
  top: 0%;
  right: 0%;
}
.bottom-glow {
  bottom: 0%;
  left: 0%;
  position: absolute;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.2);
  }
}
/* ---------------------------------------------------Responsive------------------------------------------------------------------------ */
@media (max-width: 500px) {
  .rick-and-morty-top-title > img {
    width: 145px;
    margin-bottom: 60px;
  }
  .hero-section {
    padding: 0;
  }
  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: start;
  }

  .main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: start;
    font-size: 40px;
    font-family: main-title;
  }
  .glow {
    z-index: 1;
    padding: 0px 0px;
  }
  .hero-actions {
    flex-direction: column-reverse;
    align-items: start;
    gap: 10px;
    width: 100%;
    margin-left: calc(44% - 130px);
  }
  .hero-description {
    text-align: start;
    max-width: 260px;
  }
  .portal-gun-image {
    right: -3%;
    top: 75%;
    width: 150px;
    height: auto;
    filter: none;
  }
  .title-diff {
    font-size: 40px;
    padding: 10px 0px;
    margin: 0;
  }
  .title-diff:first-child::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 130%;
    background: linear-gradient(
      145deg,
      rgba(120, 255, 200, 0.3),
      rgba(60, 180, 255, 0.2)
    );
    border-radius: 50% 60% 40% 70% / 60% 50% 70% 40%;
    opacity: 0.2;
    filter: blur(20px);
    z-index: -1;
  }
  .title-rick-morty {
    font-size: 40px;
  }
  .title-wiki {
    font-size: 40px;
  }
  .rick-head-logo {
    width: 69px;
    height: 69px;
    margin-bottom: -5px;
  }
  .watch-now-button {
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50px;
    width: 126px;
    gap: 8px;
    box-shadow: none;
  }
  .view-all-button {
    border-radius: 6px;
    cursor: pointer;
    font-size: 10px;
    width: 63px;
    height: 22px;
    margin-right: 0;
    transition: background-color 0.2s, color 0.2s;
  }

  .content-section {
    max-width: 1770px;
    margin: 20px auto;
    padding: 0 10px;
  }
  .section-header h2 {
    font-size: 16px;

    margin-left: 0;
  }
  .scroll-arrow {
    min-width: 32px;
    height: 32px;
    margin-top: 15px;
  }
  .scrollable-list {
    padding-left: 0px;
    padding-right: 5px;
    gap: 14px;
  }
  .cast-card-item {
    flex-shrink: 0;
    width: 135px;
    height: 137px;
    padding: 7.4px;
  }
  .cast-card-image {
    width: 113px;
    height: 105px;
    margin: 10px 0 0 4px;
    border-radius: 4px;
  }
  .cast-card-p {
    margin-left: 5px;
    max-width: 100px;
    font-size: 10px;
    margin-top: 5px;
    font-weight: 500;
  }

  .small-card-item {
    min-width: 152px;
    min-height: 32px;
    display: flex;
    justify-content: start;
    padding-top: 12px;
  }
  .card-container {
    max-width: 120px;
    padding: 0 0 0 4px;
  }

  .small-card-title {
    font-family: location-id;
    font-size: 8px;
  }
  .small-card-name {
    font-family: location-id;
    font-size: 10px;
    line-height: 0.8;
    margin: 0;
  }
  .bubble {
    top: 12.7%;
    left: 2.4%;
    z-index: 1;
  }
  .bubble > img {
    width: 53px;
  }
  .bar {
    display: none;
  }
}
